.cendiv {
    display: flex;
    justify-content: center;
}

.hoverDiv {
    display: none;
    position: absolute;
    /* max-width: 300px; */
    height: 100%;
    width: 100%;
    padding: 20px;
    /* flex-basis: 50%; */
    /* background-color: aliceblue; */
    /* margin: 10px; */
    /* top: 0px; */
    /* left: 0px; */
    /* white-space: nowrap; */
}

.hoverCell:hover .hoverDiv {
    display: block;
    /* height: 300px; */
    /* max-width: 300px; */
    /* margin-top: -50px; */
    align-self: center;
    /* width: 100%; */
    /* height: 100%; */
}

.hoverCell {
    max-height: 300px;
    aspect-ratio: 0.5;
    position: relative;
    margin: 5px;
    display: flex;
    flex-grow: 1;
    align-content: center;
}

.hoverPanel {
    border-radius: 10px;
    background-color: #20202080;
    position: relative;
    /* width: 100%; */
    /* height: 100%; */
    /* margin: 20px; */
    width: auto;
    height: 100%;
    bottom: 0px;
    /* display: flex; */
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
}

.hoverText {
    /* width: 100%; */
    /* background-color: violet; */
    padding: 10px;
    margin: auto;
    position: relative;
    font-size: 20px;
    flex-grow: 2;
    text-align: center;
    color: white;
    /* left: 0; */
    /* right: 10px; */
}

.spotNumber {
    /* align-self: left; */
    /* align-tracks: center; */
    flex: 1;
    font-size: 50px;
    /* color: blue; */
    margin: auto;
    padding: 10px;
    text-align: center;
}

.pn {
    height: 300px;
    width: 300px;
    background-color: blue;
    margin: 5px;
    display: inline-block;
    flex-grow: 1;
    align-content: center;
}

.pnInner {
    display: none;
    height: 200px;
    width: 100px;
    background-color: red;
}

.pn:hover .pnInner {
    /* background-color: blueviolet; */
    display: inline-block;
}

.bookingInfo {
    /* align-content: center; */
    width: auto;
    background-color: beige;
    padding: 20px 30px;
    justify-content: center;
    border: 2px solid black;
    border-radius: 30px;
}

.blockText {
    text-align: center;
    margin: 10px;
    /* width: 40%; */
}

.notiMessage {
    display: none;
    text-align: center;
    margin-top: 10px;
    margin-bottom: -5px;
    width: 250px;
    min-height: 30px;
    align-content: center;
    /* padding: 2px 15px; */
    border-radius: 10px;
    border: 1px solid #4444ff;
    background-color: #4444ff44;
}

.okButton {
    background-color: #44ff77;
    border-width: 0;
    border-radius: 20px;
    font-size: 30px;
    /* padding: 10px 40px; */
    padding: auto;
    width: 220px;
    height: 60px;
}

.okButton:hover {
    background-color: #88ff99;
    /* border-width: 2px; */
}
